# Database
DATABASE_URL="postgresql://dbadmin:M@ng4212!@perfect-rev.postgres.database.azure.com:5432/revdb?sslmode=require"

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=alt4212;AccountKey=WMKSjx8v4IyF5q7OlqMk2cwbZqkQww/ie2ecaheoRJDW8hhlLgzlgzchLZ5d/AZbjDfh7Zf11YaL+AStNsAiAA==;EndpointSuffix=core.windows.net"
AZURE_BLOB_CONTAINER_NAME="hotel-files"

# Microsoft Graph API (OAuth for Personal Accounts)
MS_GRAPH_CLIENT_ID="19663965-ce8c-43b7-b7e4-f22b99e2ddbb"
MS_GRAPH_CLIENT_SECRET="J.X8Q~Wd3PWcDSAuenUfoEqwy2dni2HpEQCfwchp"
MS_GRAPH_TENANT_ID="consumers"
REDIRECT_URI="http://localhost:3000/auth/callback"

# Email Configuration
MONITORED_EMAIL="iamasifakhtar1@outlook.com"

# Set to "true" to check read emails too (useful for testing/debugging)
INCLUDE_READ_EMAILS="false"

# Scheduler
EMAIL_CHECK_CRON="* * * * *"

# Environment
NODE_ENV="development"

